<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container-welcome">
      <h1>Welcome to the MapQuest Application!</h1>
      <p class="welcome-p">
        Click the button below to start using the application:
      </p>
      <a href="{{ url_for('index') }}">
        <button class="welcome-btn">Go to MapQuest</button>
      </a>
    </div>
  </body>
</html>
